.forget-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.forget-form {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* width: 100vw; */
  text-align: center;
}

.forget-form label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.forget_input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #c0c1c1 !important;
  border-radius: 4px !important;
  box-sizing: border-box;
}

.forget-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.forget-form button:hover {
  background-color: #0056b3;
}